<!doctype <!DOCTYPE html>
<title>{% block title %}{% endblock %} - Web Emazident</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <h1>Web Emazident</h1>
    <ul>
        <li><a href="{{ url_for('texts.index') }}">Texts</a>
        <li><a href="{{ url_for('text.new') }}">New text</a>
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>